.intro{
   align-items: center;
}

.icon-tecs{
   margin-bottom: 2.5rem;
   display: flex;
   justify-content: space-between;
   padding: 10px 0;
   max-width: 30ch;
}
.icon-tecs i{
   font-size: 1.5rem;
   color: var(--quaternary-color);
}
.intro h1{
   font-size: 4.5rem;
   line-height: 1.125;
   margin-bottom: 1.87rem;
   position: relative;
}
.intro h1::before{
   content: "";
   display: block;
   width: 130px;
   height: 100px;
   background: url('../img/detalhe.svg') no-repeat center;
   position: absolute;
   top: -15px;
   left: -40px;
   z-index: -1;
}
.intro p{
   font-size: 1.5rem;
   color: #525252;
}

@media(max-width:1000px){
   .intro h1{
      font-size: 3rem;
   }
}
@media(max-width:800px){
   .intro{
      grid-template-columns: 1fr 1fr;
      gap: 2.5rem;
   }
   .intro h1{
      font-size: 2rem;
   }
   .intro h1::before{
      width: 35px;
      height: 10px;
      left: 0;
   }
}
@media(max-width:700px){
   .icon-tecs i{
      font-size: 1rem;
      color: var(--quaternary-color);
   }
}
@media(max-width:425px){
   .intro img{
      display: none;
   }
   .intro{
      grid-template-columns: 1fr;
   }
}